// COLORS
$primary-color-dark:   #0097A7;
$primary-color:        #00BCD4;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$primary-background:   #FCF9F4;

// FONT
$default-font-size: 1.6rem;
